[2020-06-26 02:44] ManojKiranA opened #8 "Support for Newer Livewire version"
Add support for new livewire versions

[2020-07-13 16:02] elfeffe opened #12 "test-packages.test"
Wrong URL's
` public function js()
    {
        return \Livewire\Livewire::scripts()."\n".
            '<script src="http://test-packages.test/vendor/laravel-views.js" type="text/javascript"></script>';
    }`
`public function css()
    {
        return \Livewire\Livewire::styles()."\n"
            .'<link rel="stylesheet" href="http://test-packages.test/vendor/laravel-views.css" />';
    }`

[2020-07-13 17:24] Gustavinho commented on #12
Tanks for raising this issue, I already released a hotfix for this in [1.0.2](https://github.com/Gustavinho/laravel-views/releases/tag/v1.0.2)

[2020-07-13 17:25] Gustavinho commented on #8
Tanks for raising this issue, I already released a hotfix for this in [1.0.2](https://github.com/Gustavinho/laravel-views/releases/tag/v1.0.2)

[2020-07-14 11:44] ManojKiranA commented on #8
Thanks

[2020-07-14 11:44] #8 closed

[2020-07-14 11:44] ManojKiranA opened #14 "Example Application"
It would be great if there is a example application all the feature of the package

[2020-07-14 15:27] Gustavinho commented on #14
yea I am actually working on it, I hope to release it soon

[2020-07-17 06:27] fawzanm opened #17 "Adding an optional confirmation modal for actions."
It would be great to have a confirmation modal for *dangerous* actions. Maybe we can take an additional parameter for the action and load a component with a confirmation message.

May be we can have a default confirmation message like "Do you really want to perform the action?" and let the user override the title and message (or the entire view).

[2020-07-17 07:47] fawzanm opened #18 "Issue when having two redirect actions in the same row"
I tried adding two redirect action for a row, one for `view` and another one for `edit`. Both of the resolves to the same route for the `view` redirect action. When I try the `edit` one alone, it resolves to the correct route.

[code]

[2020-07-18 06:23] fawzanm opened #19 "Sorting on Table"
Hi,

I think the ability to sort the columns is a must-have feature for a table. I have ported a simple solution for my project which I believe will be a good PR. I need your feedback on how best I can port it to the package.

This is my current approach.

1. I have added a custom `Sortable` trait
2. I am passing the sort related data to the table on `table-view.blade.php`
3. Modified the `<th>` i

[2020-07-18 06:27] fawzanm commented on #18
I believe I figured out the reason for this, `$id` for the action is generated using the class name. Not sure how best we can solve it or whether it's worth doing it.

[2020-07-18 15:06] Gustavinho commented on #18
Hey thanks for raising this issue, even if the id is the same the actions spouse to be different between them, I'm gonna take a look at it this weekend and lets hope to have a hotfix for this

[2020-07-18 15:36] Gustavinho commented on #17
yes you're right, it is in the roadmap for v1.2, you will be able to add this confirmation message to before executing the action

[2020-07-18 16:16] Gustavinho commented on #19
Yes, same as you asked for the confirmation message, this is going to be a feature for `v1.2`, I like your approach but I'll say some recommendations

1. I like the `trait` approach but the search and filter features are using contracts/interfaces, so I would do the `sortable`  trait as an `interface` instead, this way the dev will be able to write its own implementation (not documented yet)
3. Ma

[2020-07-18 16:19] fawzanm commented on #19
That's a great tip @Gustavinho. Looking forward to v1.2. I really enjoy using this package and I will send useful PRs continuously.

[2020-07-19 00:03] Gustavinho commented on #18
I pushed a new version with this hotfix, you were right, it was because of the id

[2020-07-20 16:28] fawzanm opened #25 "Issue with the query repository when we have pivot tables"
I have a table with the following repository.

[code]

Following is the DB table structure.

[code]

when the page initially loads there is no issue, it loads the proper data. But when I do a search on the table with the `name`, the table returns the data for the entire `users` table ignoring the `whereHas` restriction.

I have pinpointed the issue to the following but I was not able to fix it. If

[2020-07-20 17:49] fawzanm commented on #25
This is a non-issue. I had the $account_id as a private property.

[2020-07-21 15:32] fawzanm commented on #25
Apparently it's a real issue and I am sending a PR. Please do review.

[2020-07-30 16:12] #25 closed

[2020-07-30 16:12] #18 closed

[2020-07-31 04:32] fawzanm commented on #19
@Gustavinho do you have to work on this anytime soon or shall I give it a try and send a PR?

[2020-07-31 16:24] Gustavinho commented on #19
Hello, yes I was planning to work on the `v1.1` this weekend, however, feel free to send a PR for this feature, there are a lot of features to include and if you are able to collaborate with this one that would be so helpful, just send it to `release-1.1.0` branch

[2020-08-01 03:12] fawzanm commented on #19
@Gustavinho okay, I will try and send a PR within this week.

[2020-08-04 13:03] fawzanm opened #31 "Searching on relationship"
Hi @Gustavinho

I have been playing around with the search feature in the table when we want to search in a relational field. I can send a PR but before that, I want to get your opinion.

Let's take a simple case.

[code]

Let's say we have a `TableView` for the `posts` table, where I list the post table in the following way.
[code]

Currently, I can only search with the fields in the model, but I

[2020-08-04 23:32] Gustavinho commented on #31
Hey hi, I really like this approach, I was thinking in something like `user.name` as well but I hadn't think about the implementation yet, I think yours is great, just please take a look at this:

- Turn your PR as draft until it is ready
- Dont push code using PHP 8 yet, I think there could be a lot of systems which are not using PHP 8
- We have to include a test case for this (the setup to use m

[2020-08-05 02:22] fawzanm commented on #31
Hi @Gustavinho

Thanks for the detailed response. I will adhere to the above comments and send the PR. I have a couple more questions though.

1. What's the minimum supported version of PHP for the package?
2. Which branch should I send the PR too?

[2020-08-05 04:38] #31 closed

[2020-08-05 04:44] Gustavinho commented on #31
I've tested it with PHP 7.1, 7.2 and 7.3, I might add test cases for 7.4 as well, and about the PR I think `release-1.1.0` is fin as you said

[2020-08-21 15:37] Kehet opened #39 "Filter stub not found"
Running artisan command `php artisan make:filter` results following error

[code]

this is most likely because that file is named `stubs/Filter.stub` while it should be `stubs/filter.stub`.

Environment:
[code]

[2020-08-24 02:47] dircm opened #43 "Laravel-views styles overwriting tailwind extended fonts"
If @laravelViewsStyles is used in projects with tailwind extensions, the browser will ignore any extended fonts and use the styles from laravel-views.

In laravel-views.css, the following style is present:

`html{font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;line-hei

[2020-08-27 16:13] Gustavinho commented on #43
Hi @dircm thanks for raising this issue, it is always using the default tailwindcss setup thinking in those projects which are not using tailwind, but I might should add an option to the @laravelViewsStyles in order to no don't include the tailwindcss styles, so we can use our own tailwindcss setup, what do you think? would it work out?

[2020-08-30 06:36] dircm commented on #43
Hi thanks for the update, my thoughts are that this project should only include the styles and scripts required to get functioning.  I also would like to keep the livewire scrips and styles separated as well.  I imagine most tailwind based sites will have webpack installing the styles into app.css / js anyway.

Perhaps you can include the basic required styles and scripts in your repo alongside th

[2020-08-30 19:14] Gustavinho commented on #43
Hi Tom, I think this is a good approach, being able to decide what we want to include, I'm gonna take a look on this to have this feature as soon as I can.

Thanks again

[2020-09-04 03:57] #19 closed

[2020-09-04 03:57] #17 closed

[2020-09-08 16:29] elfeffe opened #47 "Livewire 2 Compatibility?"
Do you know any incompatibility with LW2?

[2020-09-08 21:04] Gustavinho commented on #47
Hi, there were a few changes to make it compatible, I'm working with the last tests and there will be a new version with this update

[2020-10-03 20:38] JulioCGMC opened #55 "UI::avatar() can set custom size?"
Hy, i`m using your plugin to extends my laravel project and i display an image on my table, do u know a way to change the size of the UI::avatar() class?

[2020-10-05 15:46] Gustavinho commented on #55
Hi @JulioCGMC , you could publish the config file, there is an array to customize some components variants like avatar, an avatar is a variant of an image,

[code]

unfortunately there isn't a way yet to customize the UI::avatar() directly on the UI class.

[2020-10-06 16:52] JulioCGMC commented on #55
Thanks, i have yet another question, there is a way to send a custom query?
For instance, i want to show a table with all the galeries for a specific category, theres a way to send the category_id for that Gallery::query(), or send the query already?

[2020-10-06 16:57] JulioCGMC opened #56 "How to send custom data or custom query"
Thanks, i have yet another question, there is a way to send a custom query?
For instance, i want to show a table with all the galeries for a specific category, theres a way to send the category_id for that Gallery::query(), or send the query already?

_Originally posted by @JulioCGMC in https://github.com/Gustavinho/laravel-views/issues/55#issuecomment-704410938_

[2020-10-06 16:57] #55 closed

[2020-10-07 18:03] Gustavinho commented on #56
Hi @JulioCGMC, this is a good question, I don't have a way to send parameters natively with the render method, but at the end, the render method is calling the `@livewire` blade directive, so you could use the directive `@livewire` to send more params like this `@livewire(App\Http\Livewire\MyTableview, ['category_id' => $category->id])`. To get this value in your PHP class you could define it as a

[2020-10-08 22:07] JulioCGMC commented on #56
Se fosse possivel seria otimo, muito mesmo, mas vou tentar desta forma enquanto isso, valeu
[If possible, would be great, for real, but for now i`ll try that way, thanks]

[2020-11-18 08:28] santhika29 opened #57 "[question] display boolean value"
hai, im new in laravel... i wanna ask about how to display yes/no or active/not active with badge for boolean value like in your image??
sorry for my silly question

[2020-11-18 16:27] Gustavinho commented on #57
Don't worry about it, there aren't silly questions, you could just ask for the boolean value and rendering one badge or the other, something like `$model->active ? UI::badge('yes', 'success') : UI::badge('no', 'danger')`

[2020-11-19 15:02] santhika29 commented on #57
thank u pal

[2020-11-19 15:02] #57 closed

[2020-11-21 12:44] santhika29 commented on #43
@dircm may be u can use @laravelViewsStyles before declare the default font, it works for me

[2020-12-17 22:54] eugenevdm opened #59 "Click actioning makes icon dissappear"
Whenever I click an action the icon disappears....is there a way to make it sticky?

[2020-12-18 21:00] Gustavinho commented on #59
Hi @eugenevdm By any chance are you using an unexisting feather icon? I remember this happened to me before

[2021-01-02 12:06] eugenevdm commented on #59
Hi @Gustavinho apologies for the slow reply. I finally managed to do a deep dive. You are right, something weird about the feather icons. To isolate, I completely removed the actions and just implemented search:

When the page loads, the search up / down arrows are there and working and they are pure SVGs:

[code]

Then the moment you click on sort, the HTML changes to this, and the icons are miss

[2021-01-02 12:13] eugenevdm commented on #59
Update :-) Found the issue:

https://github.com/livewire/livewire/issues/1083

Do this:

[code]

[2021-01-02 16:35] Gustavinho commented on #59
Great @eugenevdm !!!, yeah thanks, feel free to send the PR, i hadn't seen this behavior with the sort icons before but this will help.

[2021-01-03 05:54] eugenevdm commented on #59
Hi again @Gustavinho ,

I made the pull request https://github.com/Gustavinho/laravel-views/pull/60 but checks are failing that seems unrelated to the addition of those `<span>` tags. The pull request seems to fail due to PHP versioning issue, and Travis also seems to fail due to PHP versioning issue. Not sure how to fix either!

[2021-01-03 07:52] Gustavinho commented on #59
Hi @eugenevdm don't worry about it, I can take a look at it tomorrow and try to fix it, it seems there is a deprecated phpunit function

[2021-01-14 17:10] #47 closed

[2021-02-18 09:00] mamulazmi opened #73 "Filter panel get cut off"
![image](https://user-images.githubusercontent.com/10828909/108332260-8d40b680-720a-11eb-8e44-50645d2866db.png)

It seems the Filter panel get cut off if the main table is empty

[2021-02-18 09:12] #73 closed

[2021-03-03 20:11] petr5250 commented on #59
Hi, I've managed to work around the issue by using Laravel 8 dynamic components and [brunocfalcao/blade-feather-icons](https://github.com/brunocfalcao/blade-feather-icons).
Here is the example of components/buttons/icon.blade.php file:

[code]

[2021-03-03 23:26] Gustavinho commented on #59
Great @petr5250 , I've been tempted to use `<x-dynamic-component />` but the package is supporting Laravel 8 too, I have a custom dynamic component and I didn't know about the `blade-feather-icons`, I'll take a loot at it, btw, I've not replicated this behavior yet, what do you do to see this bug?

[2021-04-16 11:45] elfeffe opened #80 "Defult value for filter?"
Is it possible to set default value for a filter?

[2021-04-17 17:00] #12 closed

[2021-04-17 17:00] #14 closed

[2021-04-17 17:00] #39 closed

[2021-04-17 17:01] #43 closed

[2021-04-17 17:01] #56 closed

[2021-04-19 10:58] elfeffe opened #81 "Bulk actions"
Any plan to add bulk actions?

[2021-04-19 15:22] Gustavinho commented on #80
Hi @elfeffe sorry for the late response, unfortunately, it is not supported yet but that is a great idea, I will add it to the roadmap

[2021-04-19 15:23] Gustavinho commented on #81
Hi @elfeffe, actually yes I have plans to add bulk actions soon, to all of the data views

[2021-04-19 21:49] elfeffe commented on #80
Another idea is to offer to search using Scout, not just MySQL.
That will useful for grid and list view

[2021-04-19 23:28] Gustavinho commented on #80
That is another great idea, I love it, I had not even thought about it, I added it to my backlog, thanks again

[2021-05-05 18:30] orware opened #85 "Potential Livewire 419 Error Situation Being Caused by Laravel Views Scripts Directive"
@Gustavinho,

Hi Gustavo,

I was running into a 419 error (like you described here: https://github.com/livewire/livewire/pull/1146) today after including the Laravel Views package on my end yesterday.

I was thinking it was more of a general Livewire issue, but as I dug into looking into the problem, which I've documented over here:
https://github.com/livewire/livewire/issues/2822

It seems like t

[2021-05-05 18:58] Gustavinho commented on #85
Hi @orware thanks so much for raising this, this is the first time that someone is reporting this behavior, that hasn't happened even to myself but I think it makes sense, let me get this straight, so basically what the `@laravelViewsScripts()` directive is doing is that it is embedding the JS directly on the HTML, while the `@livewireScripts` directive is embedding PHP code to call `\Livewire\Liv

[2021-05-05 19:01] orware commented on #85
@Gustavinho,

Your understanding of the issue is correct :-).

Hopefully changing things to be similar to the default Laravel behavior/output of `\Livewire\Livewire::scripts()` isn't too difficult, but I definitely think that will help others to avoid the issue I was scratching my head about this morning when I came back to my desk and encountered that 419 error/issue :-).

[2021-05-05 19:06] Gustavinho commented on #85
Thanks a lot again for raising this, I will definitely change the behavior of that directive, please let me know I you're having any issues with the package, I'll be glad to hear. your feedback in order to make improvements

[2021-05-05 19:07] orware commented on #85
Will do, thanks Gustavo!

[2021-05-05 19:08] Gustavinho commented on #85
By any chance are you using the `csrf token` on the headers?

[2021-05-05 19:13] orware commented on #85
I'm not sure if it's exactly what you're asking about, but earlier when I was starting to look into the issue I did see that there was a `X-CSRF-TOKEN` header in the request here on my end (along with a `XSRF-TOKEN` value being set in the Cookie header).

I did see other issues mentioning the 419 error for Livewire that sort of mentioned excluding some of these types of values potentially, but non

[2021-05-05 19:17] Gustavinho commented on #85
I ask for this meta tag `<meta name="csrf-token" content="{{ csrf_token() }}">` on your headers, but I will change it anyway to replicate the behavior of the `@livewireScripts` directive

[2021-05-05 19:22] orware commented on #85
Gotcha, I'm not seeing that particular `<meta>` element on my end in the HTML output on the page, although it does seem like  that `X-CSRF-TOKEN` in the request header I am seeing may be occurring (perhaps Livewire is handling that for us automatically?).

I noticed both mentioned in this area:
https://laravel.com/docs/8.x/csrf#csrf-x-csrf-token

[2021-05-05 19:43] orware opened #86 "Is it possible to use a Illuminate\Database\Query\Builder (rather than Eloquent)?"
I am going to try and create some models next here on my end and push through trying to get some output on the screen here with Laravel Views, but just wanted to bring this up as one potential discussion item.

Sidebar: In my current background/experience, I've generally struggled with using ORMs and instead relied a lot more on creating my own SQL queries with the joins and filters I need (for se

[2021-05-05 20:41] orware opened #87 "Filter Positioning (When Not Using Search Feature)"
I started first by adding in a filter to try that out, but I noticed it did something a bit odd I didn't notice on the demo site.

When making my browser window smaller,, I noticed the filter icon ended up moving to the left of the page as I got closer to a mobile width.

This caused a few issues, but mainly the issue was that since it was over on the left-hand side, when the filter area was opene

[2021-05-05 20:51] orware opened #88 "TailwindCSS Forms Plugin (Potential Issues)"
As I was starting with the filters I noticed that the dropdown menu was looking a bit weird (the down chevron looked like it was doubled-up).

In my code, I was including the TailwindCSS Forms plugin (https://github.com/tailwindlabs/tailwindcss-forms) using the following:
[code]

At the moment, I'm not entirely sure why I was trying to include it (I think it was related to Tailwind UI form code I

[2021-05-05 21:07] orware opened #89 "Complex Filtering Requirements + Multiple Selection Dropdown Filter"
I'm going to see if I can maybe implement the filter  I'd like multiple selection for as a boolean filter instead (since that's implemented as a checkbox, I think it should provide the expected behavior), but I did want to bring up the possibility of having a multiple select dropdown filter option where more than one item could potentially be selected at one time.

The other part of this request i

[2021-05-05 21:21] orware opened #90 "Potential Search Results Improvement Idea"
At the moment, I'm not sure how in depth users of the package are getting with their search implementations, but one thing I noticed relatively quickly is that it does appear to make use of the entire provided search term exactly for the columns specified, which doesn't always lead to the best result (although this might be the preferred behavior so this next idea might be an option that can be co

[2021-05-06 15:15] Gustavinho commented on #87
Hi @orware

You're right, nice catch I'll fix this

[2021-05-06 15:25] Gustavinho commented on #88
Hi @orware
I just tested this and you're right it seems that the tailwindcss forms plugin is adding a second icon (among other issues), I already have plans to add support for the forms plugin instead of using my own form styles, I mean, there is already a TailwindCSS solution for forms.

[2021-05-06 15:52] orware opened #91 "Cursor Pagination Option Enhancement"
Just saw this announcement about this enhancement coming next week:
https://github.com/laravel/framework/pull/37216

Might be a nice addition to the existing paginated options for the different views once available :-).

[2021-05-06 16:11] Gustavinho commented on #89
Hi @orware

I like the idea to have a filter with a select with multiple selection, I think it is worth it to include this filter

About the complex filter, not sure how could I tackle this, maybe adding the flexibility for us as devs to build our own filters,  not just using the pre-built ones, with that, we could build any filter we want, and maybe they could be displayed in a different way than

[2021-05-06 16:39] Gustavinho commented on #86
Hi @orware

Yeah all the data views are using models and Eloquent so you can get the model instances in your actions or other parts of the code rather than receiving id's or array so you can keep using your model and all the methods and business logic in your model without creating it manually

[2021-05-06 17:09] Gustavinho commented on #90
Hi @orware

Yeah the default behavior of the `searchBy` is to take the entire text and run the query over all the fields specified using that text, the search also supports relational search, and I think it could be a great feature to add concat queries, e.g. it is pretty common to have `name` and `last_name` in different fields so with the current behavior you wouldn't be able to search users by

[2021-05-08 15:04] elfeffe commented on #81
@Gustavinho How to use actions? The docs have Error 404

[2021-05-08 20:22] Gustavinho commented on #81
Hi @elfeffe You're right I just fixed the ListView and GridView docs, either way here's the link [https://github.com/Gustavinho/laravel-views/blob/master/doc/table-view.md#actions](https://github.com/Gustavinho/laravel-views/blob/master/doc/table-view.md#actions)

[2021-05-08 20:24] Gustavinho commented on #91
Hi @orware lets see how Livewire implements the paginator since that is the one the data views are using

[2021-05-10 14:29] elfeffe opened #95 "Action Notification blocks actions"
It blocks the action buttons because of the position, I think the best is to have it always at bottom instead of:
`fixed z-50 bottom-0 left-0 w-full p-4 md:w-1/2 md:top-0 md:right-0 md:p-8 md:left-auto xl:w-1/3`

[2021-05-13 22:27] Gustavinho commented on #95
You're right, thanks @elfeffe,  I'll try to keep it at top but I'll fix this this ASAP

[2021-05-17 02:56] Gustavinho commented on #87
Hi @orware this was fixed https://github.com/Gustavinho/laravel-views/pull/98

[2021-05-17 02:57] Gustavinho commented on #95
Hi @elfeffe this was fixed https://github.com/Gustavinho/laravel-views/pull/97

[2021-05-25 21:46] rodr7go opened #102 "Error using relation in searchBy"
Error appears when you try to search using a relation:

`public $searchBy = ['name', 'email', 'address', 'user.buildings']`

Error:
BadMethodCallException
Call to undefined method App\Models\User::user()

i hope there´s an answer, thanks

[2021-05-26 08:56] #95 closed

[2021-05-26 08:57] elfeffe opened #103 "Add a min height?"
<img width="1717" alt="68c8132afcb63203761426f664e878cc" src="https://user-images.githubusercontent.com/4717507/119632749-64374f80-be11-11eb-8ffa-e42a20d5e38d.png">

I think you should add a min-h-screen to the components

[2021-05-26 17:33] Gustavinho commented on #103
Hi @elfeffe I saw your PR, I'll merge it

[2021-05-26 17:46] Gustavinho commented on #102
Hi @rodr7go  the search is trying to find a `user` relationship inside the model for this table view, which is `User`, and you don't have that relationship defined `user -> user`, if you are trying to search for something in the `buildings` table related to the users, you can define the `$searchBy` like `['buildings.field_name_to_search_by']` where `buildings` is the name of your relationship in t

[2021-05-27 08:22] elfeffe opened #106 "Too many JS"
I think the package loads too many JS.
Is jQuery really needed?
Alpinejs is already installed in my system, it's better to add information in the documentation to say how to add it from a CDN, instead of loading it twice.

[2021-05-27 15:44] Gustavinho commented on #106
Thanks @elfeffe  I'll take a look at the JS dependencies

[2021-05-27 15:58] elfeffe opened #108 "General Modal System"
I think you should add a modals system.
Like https://philo.dev/laravel-modals-with-livewire/

I would use it for HTML editing https://github.com/Gustavinho/laravel-views/pull/107

But it can also let us create actions with modals (even child modals), that will be really flexible.

[2021-05-27 16:06] Gustavinho commented on #108
yeah @elfeffe, modal actions feature is on the roadmap actually, that will be a great one

![image](https://user-images.githubusercontent.com/4228757/119859922-71b90c00-bedb-11eb-8e9f-ff8088073947.png)

[2021-05-27 16:36] elfeffe commented on #108
Ok, I have to work on it, I will send a PR when I have my version to see if it fits your idea.

[2021-05-28 04:03] Gustavinho commented on #108
I have some work done on another project, something like this

[code]

They are defined like the current actions, but they display a component on a modal. This `ModalAction` extends the base `Action` class to set the component, the props, and the flag to open the modal.

To close the modal from the component to be rendered on it we can emit a Livewire event to the parent component

That is how it

[2021-05-28 11:30] elfeffe commented on #108
I think we are speaking about two different things.

Yes, actions with modals will be great, and I can work on them, we can discuss it on a separate issue because I'm not sure if they are actually actions, they just open a component that does the task.

In any case, we need to define a Modals system, because I want to add HTML editing with a modal, but in that case, I will require https://github.c

[2021-05-28 16:04] Gustavinho commented on #108
I think using https://github.com/livewire-ui/modal is a great option, so far this package doesn't have any other PHP dependency but Livewire, however, I really liked this one, I think it is a good option, we can try it out and see how it goes, with my original plan to fire modal actions we can also use this one to open the modals.

About the HTML editing on a modal, I think I'm not getting what yo

[2021-05-28 16:10] elfeffe commented on #108
Yes, I just want to open a modal with an editor inside.
The thing is that the "Modals System" must be a generic option, I don't want to use livewire-ui if you are going to develop a new modal, a different one.
I just want to have some consistency and use the same modal system always.
We will probably have to replace the confirm Modal, for example.

So, it will use the same Modal System as the Acti

[2021-06-04 19:41] df999 commented on #103
Hey guys - I can understand why you want a min height, but now this causes other issues. It creates a huge gap below the views. Eg. try creating two views one after another when there are minimal rows and there will be a huge gap between them.

Maybe there's another way to fix filter dropdown? Or at least have an easy way to remove the min height?

[2021-06-04 20:40] elfeffe commented on #103
Paste some screenshot please. I will check it.

[2021-06-04 20:51] df999 commented on #103
![table views](https://user-images.githubusercontent.com/3520592/120861048-b2a4c680-c554-11eb-9ee8-9f55c0777024.jpg)
The height of the gap is relative to the screen height of course.

In the blade file, I just have two components, one after another:
[code]

[2021-06-05 16:41] Gustavinho commented on #103
Thanks @df999 for raising this, yeah the `min-height` was to avoid the filter cutting off but you are right, there should be a better way to fix this, sorry for this issue I should have tested it this way, I will add this test scenario before releasing a new version

[2021-06-05 17:09] df999 commented on #103
Okay thanks. Perhaps there's a z-index solution to have it on top of the content below.

[2021-06-07 02:45] Gustavinho commented on #103
Hi @elfeffe what version of the package and browser did you use to see this issue? by any chance are you using your own tailwindcss file?

[2021-06-07 08:52] elfeffe commented on #103
@Gustavinho Are you sure the question is for me?
I'm using Latest Chrome and Firefox, with default TailwindCSS, local, not from CDN.
The package, I was using the latest stable version.

[2021-06-08 03:59] Gustavinho commented on #103
Yeah @elfeffe, thanks, I'm trying to fix the original issue but I haven't been able to replicate it again and I just wanted to be sure that I'm using the correct environment to replicate it

I've tested it with
- LaravelViews 2.2.4, 2.2.3, 2.2.2, 2.2.1, 2.2.0
- Local Tailwindcss build with/without purging LaravelViews files,
- LaravelViews default tailwindcss file
- Chrome, Firefox

This is how it

[2021-06-10 21:34] df999 opened #116 "Customizable No Results Message"
Hey there,

It would be great if we could easily provide a custom **Empty data message**. Right now, the default one of **_There are no items in this table_** is a bit generic. People may not want a message at all for example.

I realize we can customize **table-view.table-view.blade.php**, but it seems a bit overkill to me:
https://github.com/Gustavinho/laravel-views/blob/master/resources/views/t

[2021-06-14 14:55] Gustavinho commented on #116
Hi @df999 sorry for the delayed response, I like your idea, I was thinking of using [translation strings as keys](https://laravel.com/docs/8.x/localization#using-translation-strings-as-keys) to customize all the messages, however, with this solution, it wouldn't be possible to customize the message per view, or the look and feel for the message as it would be possible using a solution like you're

[2021-06-14 15:37] df999 commented on #116
Hey @Gustavinho - yeah that would be an easy solution.

Is a more flexible solution as simple as something like this though?
[code]

It would have to be public, not protected though:
[code]

[2021-06-21 01:25] df999 opened #119 "Table Row Borders"
Hey there - any idea why sometimes the gray table row borders are two pixels high instead of one?

See attached image for what I mean (look closely). It's strange that the row it starts on is random, but it's always four rows where it repeats. If I refresh the page, it stays the same every time, but different views have the 2px height start at different rows.

I'm on Windows 10 and it's only doing

[2021-06-21 03:48] Gustavinho commented on #116
Hi @df999 I was thinking about this, I will add the `$noResultsMessage` public property to customize the message by a view, but also a `$noResultsComponent` to fully customize the blade component to be displayed, in case we want to add a nicer message with images or links or what we need specifically.

[2021-06-21 03:48] #87 closed

[2021-06-21 04:20] Gustavinho commented on #119
Hi @df999 , I've never seen this behavior before, have you watch the code on the developer tools? could I see some screenshots of that? of the HTML for one of those rows and also the styles for the `border-b` class on that row?

[2021-06-21 04:24] Gustavinho commented on #106
Hi @elfeffe, as you pointed out, there were some unused JS resources (like jQuery), I removed them from the final JS build, I also added a feature to not load Alpine by default so we can add it manually on our own. I'm just running some final tests to release this

[2021-06-21 04:25] Gustavinho commented on #81
Hi @elfeffe I finally was able to add bulk actions to the table, list, and grid view. I'm just running some final tests to release this

[2021-06-21 04:32] Gustavinho commented on #80
Hi @elfeffe, your PR to add default value for filters was merged to the `release/2.3.0` some weeks ago and now it is almost ready to be released, I'm just running some final tests to release it but there is already an RC version

[2021-06-21 10:39] elfeffe opened #121 "Doesn't work with AlpineJS 3"
I have this error only if I replace AlpineJS with the version 3, and I include Laravel Views Script
[code]

[2021-06-21 11:56] df999 commented on #116
Okay cool - that sounds great!

[2021-06-21 11:59] df999 commented on #119
Hmm - I just tried it on another Windows 10 / Chrome machine and it does not happen actually. There is obviously something strange with my local Chrome install going on. The HTML is the same (it's right off the demo website). Again it's really weird, but don't worry about it. I have no idea what you could even try anyhow.

Thanks!

[2021-06-21 11:59] #119 closed

[2021-06-21 22:59] cole-flexsim opened #122 "Remove Type Hints from Repository, Search, Filter, and Sort"
the repository function is type hinted to require a Builder instance which makes it so relations do not work.

For example if I wanted to load posts on the currently logged in user like so:

[code]

There is an exception thrown.

If you only care about supporting php 8.0 and above then you can still type hint all of the related functions and just make the type hints Builder|Relation

or to keep ba

[2021-06-22 00:23] Gustavinho commented on #121
Hi @elfeffe, the current version is not compatible with Alpine 3, there is a work in progress for that in the next version that I'm already testing, 2.3.0 is still loading Alpine 2 by default but is compatible with version 3 and you will be able to disable the local alpine script to avoid loading twice or use a different version.

btw, I faced some issues using Alpine 3 until I updated the Livewir

[2021-06-27 21:50] Gustavinho commented on #122
Hi @cole-flexsim sorry for the very late response, I've been testing this approach without the type hint to evaluate the effort for us to change our current implementations, my only concern is that we should have to change the definition of all of our filters as an upgrade process since this query that is returned in the `repository` function is used for everything, filters, and search, there is a

[2021-06-27 21:52] Gustavinho commented on #81
Hi @elfeffe, I released the bulk actions feature, I'll close this issue

[2021-06-27 21:53] #81 closed

[2021-06-27 21:53] Gustavinho commented on #80
Hi @elfeffe, I released the feature with the default value for filters, I'll close this issue

[2021-06-27 21:53] #80 closed

[2021-06-27 21:55] Gustavinho commented on #106
Hi @elfeffe, I removed the extra JS resources in the latest release, I'll close this issue

[2021-06-27 21:55] #106 closed

[2021-06-28 09:12] tu6ge opened #125 "Excuse me, how do you promote the project ?"
In half a year, 300 stars have been accumulated. I envy you so much

[2021-06-28 09:13] tu6ge opened #126 "Excuse me, how do you promote your project"
In half a year, 300 stars have been accumulated. I envy you so much.

[2021-06-28 09:14] #126 closed

[2021-06-29 18:31] Gustavinho commented on #125
Hi @tu6ge well I don't promote the project, at least I haven't done anything about it, there is a link to this repo in an [awesome tall stack list](https://github.com/blade-ui-kit/awesome-tall-stack) and the only external resource for this repo is the live example app

[2021-06-30 16:35] #125 closed

[2021-07-05 10:51] elfeffe opened #128 "Documentation has a lot of issues"
This is not the first time that happens, the links are broken.
https://github.com/Gustavinho/laravel-views/blob/master/doc/laravel-views#including-assets

Your package is great, but the people who see it for the first time may think it's abandoned since it has links that take to error 404 pages.

[2021-07-05 21:24] Gustavinho commented on #128
Hi @elfeffe thanks for your feedback, yes I'm aware of that, I know the documentation has a lot of typos, issues, etc, and there is a lot of room for improvements, I will keep working to improve the docs

[2021-07-13 08:14] samankassou opened #130 "Cannot sort by relation column"
I tried to do this in the `headers` method:
[code]
but it show me this error:
[code]
I have `author` relation in my `Post` model

[2021-07-13 10:34] samankassou opened #131 "Export to Excel"
Is it possible to use the query result to make actions like export to PDF or Excel?
How to manage the filtered result for doing some extra action?

[2021-07-13 14:58] Gustavinho commented on #131
Hi @samankassou, actually it is, there is `query` property on every view that you can access to, it is mostly for internal purposes, but as all the actions get the view instance as a param, they have access to this property.

[code]

The downside is that it only has the paginated results.

[2021-07-13 15:00] Gustavinho commented on #130
Hi @samankassou, yeah unfortunately it doesn't have support to sort by a relation column, I could add this to the roadmap for next releases

[2021-07-14 19:53] samankassou commented on #130
Thanks, You are making a good job

[2021-07-14 20:30] samankassou commented on #131
Yes @Gustavinho I saw it but this `$view` is accessible in an **action**, it means that we can perform only actions related to a **row**.
I know that we can register it in the `bulkActions` method but we have another problem, the user needs to select some rows before firing this action and more the data is paginated, this means that we can only have access to the 'visible' data like you mentioned

[2021-07-16 15:13] Gustavinho commented on #131
Hi @Gustavinho yes you're right, what I mentioned is for individual actions, and using a bulk action would make the user to select some rows before.

About what you're doing, I just would change the numbers 3 and 4, since you can have access to the `$this->query` property, it has the current query, the downside is that it is the paginated query as you saw.

I can do some internal refactors to have

[2021-07-23 06:21] NkrumahAlipio opened #132 "Icons disappear when switching pages"
Hi, I ran into a problem in the new version, where icons disappear and actions get buggy when switching pages

https://user-images.githubusercontent.com/51419981/126744368-63037760-e1f2-43a5-9086-185749f0a866.mp4

https://user-images.githubusercontent.com/51419981/126744372-26f1292c-1e78-47b9-afae-05c18e49e8f2.mp4

[2021-07-23 16:21] #132 closed

[2021-07-23 16:22] NkrumahAlipio commented on #132
The problem was because I was importing @LivewireScripts on top of @LaravelViewsScripts

[2021-07-26 16:58] cole-flexsim opened #133 "Make individual parts of the views customizable"
Hey @Gustavinho this is an idea I have been working on for a little bit. I want to be able to customize certain parts of my laravel views pages (such as the action buttons) but there isn't an easy way to do so aside from overriding the main view component and then customizing the pieces I need to.

I came up with a solution so that on a per view basis a user of this package can customize pieces of

[2021-07-28 03:54] Gustavinho commented on #133
Hi @cole-flexsim , this is a very good idea, one of my biggest concerns about releasing a new version is that if the internal components have changed for some new features, and we have published and changed the internal blade components in our project we should either replace the components we have customized or missing the new changes on those components, even leading into an error, this approach

[2021-07-28 14:15] cole-flexsim commented on #133
@Gustavinho Thanks for the reply. I'm glad you also like this idea. I started working on this implementation yesterday so I have a better idea of how this will work now. In answer to your questions above:

1. Yes I think that I will apply the same kind of implementation to the internal card items and list items. That way the whole package is consistent. I think it would be nice for the users to be

[2021-08-02 16:06] Gustavinho commented on #133
Hi @cole-flexsim, sorry for the late respnse, I really liked most of your ideas, I liked having the default components on the config file, actually, I don't like to have the customization of the color on it, it is more a theme thing than a config.

About releasing a v3.0 I was actually thinking to do that when Laravel 9 is released, I'm just still thinking to release some other views on v2.

About

[2021-08-02 16:30] cole-flexsim commented on #133
No worries @Gustavinho, I have made a lot of progress on getting this set up in the project. Right now I have the back end functionality set up and working. I am now working through the various views and blade templates merging some together and splitting others apart. I'm currently up to changes in 40 different files and counting.

I apologize in advance that the pull request will not be easy to

[2021-08-02 16:39] #102 closed

[2021-08-03 15:14] Gustavinho commented on #133
Same page then

[2021-09-10 10:58] DelemOcio opened #135 "Problem search with 2 relations $model->relation->relation"
Since I can't find a query instance, I can't search for a field of a double relation of models

[2021-09-13 17:10] Gustavinho commented on #135
Hi @DelemOcio, what do you mean by a `double relation`, are you trying to search something like `user.posts.title` ? if so, this is not supported, you only can search for a single relation like `user.name`

[2021-10-02 09:43] var2611 opened #137 "Automate single view for mutiple table like : UserType, CompanyType."
Hi is there any way to achive so that I can use single class like
TypeTableView.php ext TableView and send parameterized model and click action so that I can use it for multiple tables.

To achive that need to change create function  parameter which is take class name but if we use object of the class and can extract name from it too.

`function createList(LaravelViews $laravelViews, string $class

[2021-10-04 04:16] Gustavinho commented on #137
Hi @var2611 you should be able to do that, you can create your own table views extending the original `TableView` class, if you want to have a dynamic class model so you can use the same table for multiple tables you could something like this

[code]

then you could render the component with the model class name as a prop

[code]

[2021-10-05 08:42] var2611 opened #138 "Inline Editing Issue."
After pressing error It's showing this error.

The requested resource /livewire/message/type-list.list-user-role was not found on this server.

![image](https://user-images.githubusercontent.com/29687965/135990223-6f70fc92-9749-400c-9471-b844a0af2635.png)

In livewire-component it has entry available too.

![image](https://user-images.githubusercontent.com/29687965/135990355-0a32d933-28e2-45a8-b6b

[2021-10-18 15:30] alighasemzadeh opened #139 "How can I change CDNs"
Hi
I want to use this package in no internet environment.
How can i change CDNs urls?

[2021-10-19 21:17] Gustavinho commented on #138
thanks again @var2611 , and again, sorry for the late response, I'm glad you were able to solve it, I'll close this issue

[2021-10-19 21:39] #138 closed

[2021-11-05 15:27] muhammedshiffin opened #141 "Row with a relation data"
Am trying to get a related data fetched but does not seem to work

[code]

on the table

[code]

am I missing something?

[2021-11-19 14:04] jeblister opened #142 "Pagination throw Unable to find the action"
Hi,
The app throw the error below if I click on any page number on the pagination component and confirm the action.

[code]

[2021-11-21 00:52] Gustavinho commented on #141
Hi @muhammedshiffin sorry for the late response, this seems like a problem in the relationship definition, is that number already created in the database?

[2021-11-21 00:53] Gustavinho commented on #142
Hi @jeblister, are you confirming the action after you clicked on the paginator?

[2021-11-22 08:57] jeblister commented on #142
Hi @Gustavinho , yes I confirm the action and then I have this error.

[2021-11-22 11:00] muhammedshiffin commented on #141
yes, it is created.
Am trying it again on a fresh project. I'll update you soon.

[2021-11-25 00:29] elfeffe opened #143 "Documentation about filters and actions is not found"
I think the docs for actions, and filters, have dissapeared.

[2021-11-26 20:02] Gustavinho commented on #143
Hi @elfeffe, is there a broken link? i'm seeing this docs https://github.com/Gustavinho/laravel-views/blob/master/doc/table-view.md#filters and https://github.com/Gustavinho/laravel-views/blob/master/doc/table-view.md#actions

[2021-11-26 20:03] Gustavinho commented on #141
Please let me know how else can I help

[2021-11-26 20:28] elfeffe commented on #143
Hi @Gustavinho
Yes, this one https://github.com/Gustavinho/laravel-views/blob/master/doc/doc/table-view.md
Found here https://github.com/Gustavinho/laravel-views/blob/master/doc/laravel-views.md

[2022-01-03 18:17] var2611 commented on #137
Okay Thanks for the Reply it worked. Great.

[2022-01-03 18:17] #137 closed

[2022-01-03 18:24] var2611 opened #144 "Not able to use <x-badge> in views."
Hi,

I've tried install tailwind css (Basically), and also for laravel from it's guidline.

Performed all steps but not able to use that function, so is there any additional way did you performed?

Currently I'm using {{ variants('badges.'. $type) }} from table view as a work around.

[2022-01-03 18:43] var2611 commented on #103
@df999 is right about space but it is something else I think.

I've started using this after this update so I don't know what has changed what.

![Screenshot (340)](https://user-images.githubusercontent.com/29687965/147966481-15d688a8-7353-4375-b0ed-6e7600c27cc8.png)

Above image is toolbar.blade.php from component/toolbar .

and issue is : <div> used for search bar and filter
`line 11 : <div clas

[2022-01-04 16:45] elfeffe opened #145 "INPUT filter?"
Hi, do you have any input filter in your plans?
You know, just a place where we can paste a text.

[2022-01-04 17:23] elfeffe commented on #145
Well, I did it work:

resources/views/vendor/laravel-views/components/filters/input-filter.blade.php
[code]

And the filter:

[code]

[2022-01-07 14:49] Gustavinho commented on #145
Hi @elfeffe , yeah that is how you could add custom filters, I should add this to the documentation

[2022-01-07 15:07] Gustavinho commented on #144
Hi @var2611 if you can use the `badge` component directly in other blade files after installing this package, there isn't a shortcut for this component (I should add it) but you can render it using the full namespace `<x-laravel-views::badge type="success" title="Hello I'm a badge" />`, however, if you can use it from a table view or another data view in this package, you should use it in your PHP

[2022-01-07 15:33] elfeffe commented on #145
It will also be great if you use a nartive AlpineJS Datepicker https://codepen.io/mithicher/pen/VwvZaxm

[2022-01-07 15:50] var2611 commented on #144
Okay I'll try this way, and yes from class file `UI::badge()` workes perfectly fine.

[2022-01-07 15:50] #144 closed

[2022-01-31 03:56] theavuth9 commented on #142
I'm the same error!!

[2022-01-31 08:41] hadesunseenn opened #146 "Inline Editing does not show updated value"
When we click on any column value and edit and then hit enter, the value in DB gets updated but when we click outside of updated input it shows old value, it should show a new updated value. Just like in jQuery Datatables. On page reload we can see the latest value.
The documentation site has the same error also

https://drive.google.com/file/d/1yhkjOXeGWRHpdtE2dFN4A4fkw0h71LjM/view

added a short

[2022-01-31 23:07] Gustavinho commented on #146
Thanks for raising this issue, I'll fix it

[2022-01-31 23:08] Gustavinho commented on #142
Hi @theavuth9, thanks!, I will take a look at it

[2022-02-01 01:36] theavuth9 commented on #142
Hi @Gustavinho thanks!! it might by issue when I install `wireui` && `powergrid`

[2022-02-02 11:23] nileshd opened #147 "Eloquent Eager Loading (with) Supported?"
Thanks for the great package.

I am trying to lazy load some of my relationships from the repository method.

    public function repository(): Builder
    {
        return CheckList::with('Equipment')->where('flag_template',1);
    }

While I see the query for the Lazy Loading being run i.e

`select * from equipments where id in(1,2,3,4,5)`

I also see it's recalling the same queries when I need

[2022-02-09 00:27] Gustavinho commented on #142
Hi @jeblister and @theavuth9 , I've been trying to replicate this error without success, do you have a video where you can show me the behavior?

[2022-02-09 00:27] Gustavinho commented on #145
That looks nice actually, I will take a look at it and perform some tests

[2022-02-09 00:28] #145 closed

[2022-02-09 00:28] #86 closed

[2022-02-09 00:28] #89 closed

[2022-02-09 00:28] #90 closed

[2022-02-09 00:28] #91 closed

[2022-02-09 00:30] #108 closed

[2022-02-09 00:41] #121 closed

[2022-02-09 00:42] #122 closed

[2022-02-09 01:13] #141 closed

[2022-02-09 01:18] #139 closed

[2022-02-09 01:34] Gustavinho commented on #143
I noticed I never clicked the `Comment` button, I'm so so so so so sorry I didn't follow up, you're right those links are broken, I've been working on a documentation web page to be included in laravelviews.com, I'll release it soon, in the meantime I'll fix these broken links

[2022-02-09 01:40] #128 closed

[2022-02-14 00:33] #133 closed

[2022-02-14 00:33] #135 closed

[2022-02-14 00:34] Gustavinho commented on #147
Hi @nileshd sorry for the delay, I'll take a look at it

[2022-02-14 00:34] #59 closed

[2022-04-28 12:40] jpu4 opened #153 "Inline editing doesn't allow to change values"
Hi,

I think this is a GREAT project! I'm following the instructions on laravelviews.com to test it before i start using it.

1. My table shows up.
2. Sorting works
3. Editing border shows and shows the finger to click; but does nothing. Double clicking the value only highlights the text as a normal doubleclick does.

Could there be an issue with my versions?

[code]

[2022-05-02 19:20] Gustavinho commented on #153
Hi @jpu4, thanks for raising this, I'll take a look at it, question, what is the Alpine.js version you are using?

[2022-05-24 20:32] roomdada opened #154 "Customize localization"
Good evening everyone can someone help me by showing me how to translate the localization of the package in French
![Capture d’écran du 2022-05-24 20-30-41](https://user-images.githubusercontent.com/61591337/170126855-5c74061c-383b-4cf3-bceb-95c7bfc19f19.png)
![Capture d’écran du 2022-05-24 20-30-41](https://user-images.githubusercontent.com/61591337/170126773-e709114a-985e-4404-b22b-96d1fca652c8.

[2022-05-25 08:53] #154 closed

[2022-07-28 16:12] gyroid opened #155 "Error: Unable to find the action"
I create Laravel project using

curl -s "https://laravel.build/example-app" | bash

I installed Jetstream with LiveWire.
I installed LaraveViews using this instruction https://laravelviews.com/installation

When I add sorting to Table View in this way:

Header::title('Name')->sortBy('name'),

the view render ok. When I click in sort arrow, the modal is show. After click "Yes, I'm sure" I have erro

[2022-07-28 16:37] #155 closed

[2022-07-28 16:38] Gustavinho commented on #155
Thank you @gyroid for raising this and also for updating it with the fix, actually there was another open issue with exactly the same behavior and this will also help to solve it, thank you

[2022-07-29 10:10] gyroid commented on #154
Did you do it?

[2022-08-08 07:58] gyroid opened #156 "Filter rendering"
I add some test filter to my table view and I have problem with rendering. The filter is render with double drop/down arrow and I don't known why.

![image](https://user-images.githubusercontent.com/14274865/183368354-cd3ef6ab-8d4d-43a7-b09b-5f19ba45940a.png)

Versions:
        "php": "^8.0.2",
        "arcanedev/log-viewer": "^9.0",
        "guzzlehttp/guzzle": "^7.2",
        "laravel-views/lara

[2022-08-08 21:06] Gustavinho commented on #156
Hi @gyroid thanks for raising this, I might know why this is happening, by any chance do you have tailwind forms installed? there could be a collision adding the arrow twice

[2022-08-09 12:30] gyroid commented on #156
Hi @Gustavinho. Thanks for answer. I created project using Laravel Jetstream with Livewire.

https://jetstream.laravel.com/2.x/introduction.html#livewire-blade

I use the standard JS/CSS imports in resources.

The app.css file:
@tailwind base;
@tailwind components;
@tailwind utilities;

The app.js file:
import './bootstrap';
import Alpine from 'alpinejs';
window.Alpine = Alpine;
Alpine.start();

A

[2022-08-10 17:21] Gustavinho commented on #156
Thanks @gyroid, thanks for the info, yeah it seems like both are adding the arrow to the dropdown, I'm thinking in a workaround, what if you add a custom CSS rule hiding the div with the dropdown of this package and let taildinscss/form do its magic, I'm thinking something like this

1. Add an id to the wrapper of the component
2. Add a new CSS rule after `@laravelViewsStyles(laravel-views)` and b

[2022-08-11 13:16] gyroid commented on #156
Thanks @Gustavinho for your advice. You are rigth. Double drop/down arrow disappeared.

I added id to wraper. Something like this:

            <div id="table-view-wrapper">
                <livewire:users.users-table-view />
            </div>

and I added CSS style to app.css:

#table-view-wrapper .pointer-events-none.absolute.inset-y-0.right-0.flex.items-center.px-2.text-gray-700 {
    display:

[2022-08-12 21:57] Gustavinho commented on #156
Excellent, you rock!!!

[2022-08-21 10:15] gyroid opened #157 "Pagination in GridView"
I have problem with pagination for Grid View component. The component probably use the $paginate property of DataView class. It is set default at 20. Grid View shows only 2 cards in last row for 3 columns. If I set $paginate property at 21 the problem disappears for 3 columns but it is visible for 2 columns.

[2022-08-22 16:11] Gustavinho commented on #157
Hi @gyroid, yes it is paginating by N number of items no matter the number of rows, if the number of items on a page is not a multiple of the number of rows then you will have some empty slots

[2022-08-25 08:39] vdvcoder opened #158 "XSS Bug"
In the table view where you can edit inline there is a XSS vulnerability.

![image](https://user-images.githubusercontent.com/13916116/186617530-7d394488-7d8f-4bae-b61e-c61a24bd6c92.png)

[2022-08-25 15:08] Gustavinho commented on #158
Hi @vdvcoder, what a great finding, although you can always validate the data on the server side, I think was executed on the client side, I'll take a loot at it to work on a fix, thanks

[2022-08-31 23:19] Gustavinho commented on #157
Hi @gyroid sorry I didn't see you answered back, actually there's a public property to set the number of columns

`public $maxCols = 3;`

You should have access to it

https://laravelviews.com/grid-view#max-columns

[2022-09-01 15:49] gyroid commented on #157
I thought so.

[2022-09-07 10:40] roomdada opened #159 "Export problem"
The export does not take place after selection and click on the button of the grouped action. I can access the export class but the excel file is not downloaded. I need help urgently.
![Capture d’écran du 2022-09-07 10-29-26](https://user-images.githubusercontent.com/61591337/188858720-ab26412b-fd15-40f0-8221-7065e5ad8ac0.png)
![Capture d’écran du 2022-09-07 10-29-03](https://user-images.githubuse

[2022-09-07 15:31] Gustavinho commented on #159
Hi @roomdada, the returned value in the handler function is not being returned by the other internal functions, that's why you are not able to download the file.

I found a workaround for you, it's kind of tricky but as this is urgent for you, this is the fastest solution,  basically you will change the behavior of the internal `WithActions` trait

1. Copy this file somewhere in your project, http

[2022-09-08 01:43] Gustavinho commented on #159
You're almost there, it is just missing the return in the `handle` function of the action

[2022-09-08 01:46] roomdada commented on #159
Always the same
![Capture d’écran du 2022-09-08 01-45-26](https://user-images.githubusercontent.com/61591337/189015261-38a16718-f74a-4d32-a0f8-ff6b6515fed0.png)

[2022-09-08 01:47] roomdada commented on #159
Always the same
![Capture d’écran du 2022-09-08 01-45-26](https://user-images.githubusercontent.com/61591337/189015370-e105c2f9-c47d-4115-b978-b9ee8aa25fa6.png)

[2022-09-08 04:15] Gustavinho commented on #159
Yeah it is not recommended, I just noticed you added the trait in the action class, try to to do it in the view class instead

[2022-09-15 08:32] alnibrass commented on #153
same problem

[2022-09-15 15:51] Gustavinho commented on #153
Hi @alnibrass, what are the Alpine.js and Livewire versions you are using? is it working fine with the examples in laravelviews.com on your browser?

[2022-09-19 22:21] dfikeda opened #160 "vendor:publish --tag=views --provider='LaravelViews\LaravelViewsServiceProvider' not work to all, including master layout, to directory."
Hello, I try copy files with the `php artisan vendor:publish --tag=views --provider='LaravelViews\LaravelViewsServiceProvider'` but this emit an error: ` No publishable resources for tag [views].`.
I publisheb by `php artisan vendor:publish` and selected "views" to copy the folder.
The copy not bring me a master layout to customize that.
(Suggested revision)
I suggest a revision of the package to

[2022-09-19 22:36] dfikeda commented on #160
I copied manualy the folder resource [...] views/view to published resource vendor folder and its works.

[2022-09-20 00:29] Gustavinho commented on #160
Hi @dfikeda, it's so good you were able to solve it

don't worry about your English, I understood perfectly, I speak Spanish as my native tongue so I'm still practicing

[2022-09-20 00:45] dfikeda opened #161 "UI::icon don't work properly"
After this [issue ](https://github.com/Gustavinho/laravel-views/issues/160) I have another issue about links to files.
`UI::icon` was not working properly, I noticed in the browser inspector that the html was rendered but the icon was not. I went to inspect the code and it pointed to the folder `vendor/laravel-views.css` and .js respectively and the files weren't there.
I believe it is a pointing

[2022-09-26 15:24] Gustavinho commented on #161
Hi @dfikeda sorry for the late response, the workaround is fine however [publishing the assets](https://laravelviews.com/installation#publishing-assets) should do the same, did you do this?

[2022-09-26 21:33] dfikeda commented on #161
Yes and I get the response:  "No publishable resources for tag [public]".

[2022-09-27 01:52] Gustavinho commented on #161
I hadn't seen that problem before, could you share a little bit more about how you're publishing the assets?

I ran this test in a Laravel 9 project
<img width="889" alt="Screen Shot 2022-09-26 at 20 39 40" src="https://user-images.githubusercontent.com/4228757/192411479-0ca02db0-373c-46cd-8d38-dfbee909822a.png">

And the icons worked fine in this test
<img width="1032" alt="Screen Shot 2022-09-26

[2022-10-27 14:40] christoferd opened #162 "Inline Editing lacks validation and table cell reverts to original value"
Hi,
1. Inline Editing lacks validation.
What's a good way to add validation.

2. and table cell reverts to original value
After updating a cell, when losing focus from the field, the cell reverts to the original value.
Any ideas why that would happen?

Note #1:
Note: I've been adding validation with $this->validate($arrRulesForTheSingleField);
Which seems to pass well. Though, do you have any idea

[2022-10-27 19:01] Gustavinho commented on #162
Hi @christoferd , that's weird, I don't know why dd/dump are not working after the validation, actually, I'm trying to do it on my side as well and it is not working, the inline editing doesn't have validation feedback, so even though you can validate the field on the view side, we wouldn't be able to display the error message, this could be a cool improvement for this component so I will add it t

[2022-10-30 11:02] kalwinskidawid opened #164 "Refresh data table without refreshing whole site/component"
How to refresh data / repository in tableview without refreshing whole site?

[2022-10-30 11:21] kalwinskidawid opened #165 "Visibility of columns"
Is it possible to hide columns? Is it always statically defined when first rendered?

[2022-10-31 14:27] Gustavinho commented on #165
Hello @kalwinskidawid, there's no way to hide columns dynamically, there are defined statically

[2022-10-31 14:29] Gustavinho commented on #164
Hi @kalwinskidawid, there's no "Refresh" button, however, every filter or sort action is refreshing the data, thinking this through, a refresh button would be great

[2022-11-02 08:58] kalwinskidawid commented on #164
Okay, tho

[2022-11-02 09:03] kalwinskidawid commented on #165
Ouhh,
 It's a pity, do you plan to add such functionality?

[2022-11-02 09:54] kalwinskidawid commented on #164
So should I use `$this->render()` after change any data in database?

[2022-11-03 22:57] Gustavinho commented on #165
Hi @kalwinskidawid, I wasn't planning to add something like this, but thinking it through, it is actually a good idea, I will add it to the roadmap, thank you for the suggestion

[2022-11-03 23:00] Gustavinho commented on #164
yes `$this->render` should work, although it wasn't the intention to have to update the data manually, do you have something like a form or something else updating the data outside of the table in the same page?

[2022-11-03 23:16] kalwinskidawid commented on #164
Yes!  I have a modal from WireUI which I use to dynamically edit and add data without page refresh. After validating the form, it sends a signal to the TableView to reload data in the table

[2022-11-03 23:18] kalwinskidawid commented on #165
Awesome! Thanks 😄

[2022-11-04 16:00] Gustavinho commented on #164
In that case, I'll suggest using a livewire event, probably you're already using it, and the `render()` method of the table as you said, that should work

[2022-11-08 17:50] christoferd commented on #164
Emit a [Livewire Event](https://laravel-livewire.com/docs/2.x/events)
Catch it in your Livewire Component then updating the records.
I have a separate function to get the list of data. This function will update $this->events that is called when the event is caught.
This is the only way I could think of having an add event component open in a modal, do its work, then the calendar update ONLY the ev

[2022-11-08 17:57] christoferd commented on #165
Isn't this straight forward to do manually?
Add properties to the calendar component such as: $showIdColumn, $showTitleColumn, ...
Then add a filters box to the top of the table where each field has a tick-box. The tick-box being _wired_ to a property.
Then could do wire:click="clickFilterOption" to call that function in your component.
Update the events accordingly.

Would this be the way to go a

[2022-11-08 19:52] jamessoncardozo commented on #153
same problem. I dont using alpine.js

[2022-11-09 17:56] Gustavinho commented on #153
Hi @jamessoncardozo , what do you mean by you're not using alpine.js, alpine is part of the Livewire ecosystem, and the TALL stack

[2022-11-15 09:00] danielpetrica opened #166 "Possibility to add intermediary steps in bulk actions"

[2022-11-15 15:31] Gustavinho commented on #166
Hi @danielpetrica thanks for raising this, the confirmation message doesn't have support for this kind of content so far, however, I think I still don't fully understand the last part of your use case, why do you want a select in the confirmation message? do you want it as a las time check of the items to be updated?

[2022-11-15 15:41] danielpetrica commented on #166
Hi, I'm sorry, I didn't explained myself clearly.
We need to assign users to a different resource in bulk (like 30+ users at a time).
And it is a multistep action:
First, I select the users to reassign from the table,
then I trigger the bulk action
and then a popup should open asking for what resource to assign these users to from a drop-down.

I asked about the confirmation as there is already a

[2022-11-17 15:29] Gustavinho commented on #166
Thanks, now I get what you want a select for, I'm afraid the confirmation messages are not supporting dynamic data, something that comes to my mind is that from the bulk action, instead of running the action there, you can trigger an event from there to render a custom modal in the UI, this custom modal could have anything you need, and an action from this custom modal will update the database

as

[2022-11-17 22:33] danielpetrica commented on #166
Yep, the modal makes more sense
I'll try to do it in my project this way.
I'll update this issue with the outcome in case anyone may have a similar need.
Thank you

[2022-11-17 23:10] Gustavinho commented on #166
thanks @danielpetrica

[2022-11-18 16:41] LucVK commented on #142
I have the same problem. Both on table and grid views. As far as I can debug, it tries to find an empty action.

[2022-11-23 21:36] Gustavinho commented on #142
Hi @LucVK thanks so much for this info, there's probably an incompatibility with the versions, could you please tell me which livewire version is installed when you do it before installing laravel-views? it is compatible with liveriew 2.* btw, however, there's probably something else making it crash

[2022-11-25 07:27] LucVK commented on #142
Strange, I see version v2.10.7 in both (working and not working) installations. I guess the trick is to find out what exactly gets changes when the installation of Breeze is done (the same situation exists when jetsream is installed afterwards)

[2022-11-27 04:58] Gustavinho commented on #142
Thanks @LucVK, so it seems there are no incompatibilities between this package and livewire, I haven't tested along with breeze or jetstream, I'll try to replicate it on my side on a brand new project